@font-face {
    font-family: Principalfont;
    src: url(fonts/Panton/Commercial/OTF/PantonDemo-Black.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');

html{

    scroll-behavior: smooth;
}


*{
    padding: 0;
    margin: 0;    
}

:root {
    --backgroundcolor: #2E3134;
    --primarycolor1: #e6e7e8;
    --primarycolor2: #00BAFF;
    --primarycolor3: #009DF7;
}

.Mark {
    color: var(--primarycolor2);


}


body {
    background: rgb(46,49,52);
    background: linear-gradient(90deg, rgba(46,49,52,1) 25%, rgba(78,83,88,1) 75%);
   
}

section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* separacion*/

header{
    display: flex;
    width: 100%;
    height: 5vh;
    margin: auto;
    align-items: center;
}


.logo-container,.nav-links{
   display: flex;
}

.logo-container{

flex: 2;
font-family: Principalfont;
font-weight: 400;
font-size: 20px;
justify-content: end;

}


.Logo-nav{
    margin-right: 300px;
}

nav{

flex: 1;
}

.nav-links{
    justify-content: space-around;
    list-style: none;
}

.nav-link{
    color: var(--primarycolor1);
    font-size: 20px;
    text-decoration: solid;
    font-family: 'Teko', sans-serif;

}

/*separacion*/


.container {
    display: flex;
    width: 100%;
    height: 70 vh;
    
   


}

.Name {
    
    flex: 1;
    font-family: Principalfont;
    font-weight: normal;
    font-style: normal;
    color: #e6e7e8;
    font-size: 50px;
    text-align: center;
    line-height: 500%;
}




.Slogan {
    
    
    color: var(--primarycolor1);   
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    text-decoration: solid;
    
    text-align: center;
    
}

.textSlogan{
    position:relative; 
    top:-190px;
}

.scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
  
}

.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -80%) rotate(45deg);
  border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}


.scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
    /* animation: scroll-down 1s ease-in-out infinite; */
}
  



.Neon{
    

    filter: brightness(200%)
}


.next{
   
    background-color: white;
}

@keyframes scroll-down {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;

    }
}